
@charset "UTF-8";

/* 
    Created: 2022-08-17
    Author: Matthew Nemmer
*/

/* General styling */
:root
{
    --gray: #B8B8B8;
    
    --dark-font-color: #333;
    --primary-color: #eb2b21;
    --primary-color-dark: #800;
    --secondary-color: #9A4330;
    --bg-light: #fcfdff;
    --bg-dark: #212121;
}
html, body, header, main, footer
{
    width: 100%;
    margin:0;
}
body
{
    background-color: var(--gray);
}


/* Site header styling */
.site-header 
{
    width: 100%;
    padding: 7px 0px 9px 0px;
    
    font-size: calc( 11px + 0.9vw );
    font-weight: 400;
    white-space: nowrap;
    
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: saturate(180%) blur(17px);
    backdrop-filter: saturate(180%) blur(17px);
    box-shadow: 0px 1.75px 2.75px var(--gray);
}
.header-tab
{
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  
  margin-top: auto;
  margin-bottom: auto;
  
  color: var(--dark-font-color);
  text-decoration: none;
  
  transition: color .2s ease-in-out, text-shadow .2s ease-in-out;
}
.header-tab:hover 
{
  color: var(--primary-color);
  text-shadow: 0.7px 0.7px 0.7px #888;
}
#current-tab
{
  color: var(--primary-color);
}


/* Image styling */
img, .svg
{
    vertical-align: middle;
}
.logo-header img
{
    vertical-align: middle;
    max-height: 40px;
    max-height: calc( 12px + 2.5vw );
}
.logo-footer img
{
    vertical-align: middle;
    max-height: 50px;
}
.img-content
{
    height: 100%;
    width: 100%;
    max-height: 275px;
    object-fit: cover;
}
.img-content-large
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.img-logo
{
    height: 100%;
    width: 100%;
    max-height: calc( 100px + 6vw );
    object-fit: contain;
}


/* Button styling */
.btn-primary
{
    display: inline-block;
    padding: 0.7vw 1vw;
    font-family: inherit;
    font-size: calc( 10px + 0.5vw );
    font-weight: 400;
    line-height: 1.5;
    color: var( --primary-color );
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid var( --primary-color );
    border-radius: 0.375rem;
    background-color: transparent;
    outline: none;
    box-shadow: none;
          
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out
}
.btn-primary:hover
{
    color: #fff;
    background-color: var( --primary-color );
    border-color: var( --gray )
}
.btn-primary:active
{
    background-color: var( --primary-color-dark );
}
@media( prefers-reduced-motion:reduce )
{
    .btn-primary
    {
        transition:none
    }
}


/* Background and shadow styling */
.bg-primary
{
    background-color: var(--primary-color);
}
.bg-primary-dark{
    background-color: var(--primary-color-dark);
}
.bg-secondary
{
    background-color: var(--secondary-color);
}
.bg-light
{
    background-color: var(--bg-light);
}
.bg-dark
{
    background-color: var(--bg-dark);
}
.bg-brick
{
    background-image: url("../img/brick-texture.jpg");
}
.bg-pizza
{
    background-image: url("../img/pizza-guy-meat-lovers-pizza.jpg");
}
.bg-wings
{
    background-image: url("../img/pizza-guy-hot-wings.jpg");
}
.bg-salad
{
    background-image: url("../img/pizza-guy-salad.jpg");
}
.bg-soda
{
    background-image: url("../img/soda-can.jpg");
}
.bg-brick, .bg-pizza, .bg-wings, .bg-salad, .bg-soda
{
    background-color: #fff;
    background-position: center; 
    background-size: cover;
}
.text-shadow, .bg-pizza, .bg-wings, .bg-salad, .bg-soda
{
    text-shadow: 0px 0px 10px #000;
}


/* Menu sublink styling*/
#pizza-menu
{
    position: absolute;
    margin-top: calc( -170px - 5.8vw );
}
#wings-menu
{
    position: absolute;
    margin-top: calc( -170px - 5.8vw );
}
#sides-menu
{
    position: absolute;
    margin-top: calc( -170px - 5.8vw );
}
#drinks-menu
{
    position: absolute;
    margin-top: calc( -170px - 5.8vw );
}


/* Other styling */
hr
{
    height: 2px;
}

.fb-page, .fb-xfbml-parse-ignore
{
    min-width: 320px;
}
@media( max-width: 319px )
{
    .fb-page, .fb-xfbml-parse-ignore
    {
        display: none !important;
    }
}

.google-map-container 
{
    height: 100%;
    width: 100%;
    
    top: 0;
    left: 0;
    vertical-align: middle;
    margin: 0;
    padding-top: 0;
    
    overflow: hidden;
}

.single-card-row
{
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px)
{
  .single-card
  {
      width: 50%;
  }
}